In [1]:
from sqlalchemy import create_engine
import sys, os
import pandas as pd

constr = 'mysql+pymysql://{user}:{pwd}@{host}'.format(user=os.environ['MYSQL_USERNAME'],
                                                      pwd=os.environ['MYSQL_PASSWORD'],
                                                      host=os.environ['MYSQL_HOST'])
con = create_engine(constr)

In [3]:
q_uk_pages = """
SELECT uk_page.page_id as uk_id, 
       uk_page.page_title as uk_title
from ukwiki_p.page as uk_page   
"""
df_uk_pages = pd.read_sql(q_uk_pages, con)

In [6]:
print(df_uk_pages.shape)

df_uk_pages.head(10)
#df_uk.to_csv("df_uk.csv")

(2411319, 2)

     uk_id                                           uk_title
0   829961                                               b'!'
1  2062457                                              b'!!'
2   425480                                             b'!!!'
3  2591631                    b'!!!Fuck_You!!!_and_Then_Some'
4  2141483  b'!!_(\xd0\xb7\xd0\xbd\xd0\xb0\xd1\x87\xd0\xb5...
5  1767358                                    b'!Action_Pact'
6   848226                                   b'!Action_Pact!'
7  1767359                                       b'!T.O.O.H.'
8   425157                                      b'!T.O.O.H.!'
9  2112530  b'!_(\xd0\xb0\xd0\xbb\xd1\x8c\xd0\xb1\xd0\xbe\...

In [7]:
q_uk_last_rev = """
SELECT uk_revs.rev_page as uk_id,
       uk_revs.rev_timestamp as uk_timestamp
       
from ukwiki_p.revision as uk_revs 
where uk_revs.rev_parent_id=0
"""
df_uk_last_rev = pd.read_sql(q_uk_last_rev, con)

In [8]:
print(df_uk_last_rev.shape)

df_uk_last_rev.head(10)
#df_en.to_csv("df_en.csv")

(2422986, 2)

   uk_id       uk_timestamp
0      3  b'20031227004500'
1     13  b'20040126110432'
2    584  b'20040130024256'
3    586  b'20040130051203'
4    587  b'20040130051740'
5    591  b'20040130090751'
6    590  b'20040130064918'
7    592  b'20040130094955'
8  50870  b'20040130104005'
9    588  b'20040130061337'

In [ ]:
q_en_pages = """
SELECT en_page.page_id as en_id, 
       en_page.page_title as en_title
from enwiki_p.page as en_page   
"""
df_en_pages = pd.read_sql(q_en_pages, con)

In [ ]:
print(df_en_pages.shape)

df_en_pages.head(10)
#df_uk.to_csv("df_uk.csv")

In [38]:
q_same = """
SELECT db1.ips_site_page as uk_title,
       db2.ips_site_page as en_title
FROM  wikidatawiki_p.wb_items_per_site as db1
INNER JOIN  wikidatawiki_p.wb_items_per_site as db2 
    ON db1.ips_item_id=db2.ips_item_id and 
    db1.ips_site_id = 'ukwiki' and  
    db2.ips_site_id = 'enwiki'
    
"""


df_same = pd.read_sql(q_same, con)

In [90]:
print(df_same.shape)

df_same.head(10)
#df_same.to_csv("df_same.csv")

(580414, 2)

,uk_title,en_title
0,b'! (\xd0\xb0\xd0\xbb\xd1\x8c\xd0\xb1\xd0\xbe\...,b'! (The Dismemberment Plan album)'
1,b'! (\xd0\xb7\xd0\xbd\xd0\xb0\xd1\x87\xd0\xb5\...,b'! (disambiguation)'
2,b'!! (\xd0\xb7\xd0\xbd\xd0\xb0\xd1\x87\xd0\xb5...,b'!!'
3,b'!!!',b'!!!'
4,b'!Action Pact!',b'!Action Pact!'
5,b'!T.O.O.H.!',b'!T.O.O.H.!'
6,b'$ (\xd0\xb7\xd0\xbd\xd0\xb0\xd1\x87\xd0\xb5\...,b'$ (disambiguation)'
7,"b""'03 Bonnie & Clyde""","b""'03 Bonnie & Clyde"""
8,"b""'39""","b""'39"""
9,"b""'50s on 5""","b""'50s on 5"""

In [100]:
print("df_same ", df_same.shape)
print("df_en ", df_en.shape)

df_same_en = pd.merge(df_same, df_en, on="en_title")
print("df_same_en ", df_same_en.shape)
#df_same_en.head(100)

df_same_en_uk = pd.merge(df_same_en, df_uk, on="uk_title")
print("df_same_en_uk ", df_same_en_uk.shape)

df_same  (580414, 2)
df_en  (1000000, 3)
df_same_en  (6070, 4)
df_same_en_uk  (11228, 6)

In [86]:
print(df_same_en_uk.shape)
df_same_en_uk.head(1000)

(3125, 6)

,uk_title,en_title,en_id,en_timestamp,uk_id,uk_timestamp
0,b'!!!',b'!!!',600744,b'20040416190058',425480,b'20090328075713'
1,b'!!!',b'!!!',600744,b'20040416190058',2582318,b'20171118130949'
2,b'!T.O.O.H.!',b'!T.O.O.H.!',6810768,b'20060902132925',425157,b'20090327045916'
3,b'!T.O.O.H.!',b'!T.O.O.H.!',6810768,b'20060902132925',2581821,b'20171118102619'
4,"b""'39""","b""'39""",3141321,b'20051112110701',2014472,b'20150908112713'
5,"b""'39""","b""'39""",3141321,b'20051112110701',2583202,b'20171118173309'
6,b'(ISC)\xc2\xb2',b'(ISC)\xc2\xb2',34594273,b'20050908061255',2699656,b'20180413175423'
7,b'(ISC)\xc2\xb2',b'(ISC)\xc2\xb2',34594273,b'20050908061255',2700524,b'20180415113849'
8,b'(if)',b'(if)',21387262,b'20090204010744',550621,b'20091022190328'
9,b'*-\xd0\xb0\xd0\xbb\xd0\xb3\xd0\xb5\xd0\xb1\x...,b'*-algebra',293426,b'20030810184534',494880,b'20090708074322'
10,b'*-\xd0\xb0\xd0\xbb\xd0\xb3\xd0\xb5\xd0\xb1\x...,b'*-algebra',293426,b'20030810184534',494899,b'20090708081829'
11,b'-th',b'-th',19012551,b'20080824191305',1322479,b'20120613210104'
12,b'-\xd1\x81\xd1\x82\xd0\xb0\xd0\xbd',b'-stan',29212753,b'20030615012324',287427,b'20080424113831'
13,b'-\xd1\x81\xd1\x82\xd0\xb0\xd0\xbd',b'-stan',29212753,b'20030615012324',287429,b'20080424114633'
14,b'...Phobia',b'...Phobia',7631768,b'20061026145419',287430,b'20080424115327'
15,b'.357',b'.357',1548825,b'20050227005237',1529864,b'20130410150551'
16,b'.45-70',b'.45-70',2468395,b'20050816193205',2130888,b'20160224100349'
17,b'.460',b'.460',4257900,b'20060303035124',1529856,b'20130410145904'
18,b'.577',b'.577',9710198,b'20070225104323',1529854,b'20130410145419'
19,b'.EXE',b'.exe',582055,b'20040407142750',943880,b'20110304202319'
20,b'.EXE',b'.exe',582055,b'20040407142750',2412590,b'20170425143953'
21,b'.ac',b'.ac',999182,b'20040919173832',73395,b'20061119235349'
22,b'.ac',b'.ac',999182,b'20040919173832',84328,b'20070114204751'
23,b'.ad',b'.ad',999192,b'20040919174318',73466,b'20061120091128'
24,b'.ad',b'.ad',999192,b'20040919174318',84329,b'20070114205006'
25,b'.ae',b'.ae',999197,b'20040919174520',73487,b'20061120131534'
26,b'.ae',b'.ae',999197,b'20040919174520',84331,b'20070114205043'
27,b'.aero',b'.aero',1042457,b'20041005204930',1447754,b'20121112103410'
28,b'.af',b'.af',999207,b'20040919174917',73486,b'20061120131533'
29,b'.af',b'.af',999207,b'20040919174917',84332,b'20070114205046'
...,...,...,...,...,...,...
970,b'10G-EPON',b'10G-EPON',20336788,b'20081122061545',2118425,b'20160205212428'
971,b'10P/\xd0\xa2\xd0\xb5\xd0\xbc\xd0\xbf\xd0\xb5...,b'10P/Tempel',3853170,b'20060126154930',2716766,b'20180510064230'
972,b'10cc',b'10cc',601582,b'20040417043143',165979,b'20070524074049'
973,b'10cc',b'10cc',601582,b'20040417043143',204466,b'20070909000748'
974,b'11.22.63',b'11.22.63',33613210,b'20111102103355',2129485,b'20160221223447'
975,b'11/22/63',b'11/22/63',31058296,b'20110302165734',1066949,b'20110829122739'
976,b'11/22/63',b'11/22/63',31058296,b'20110302165734',1066951,b'20110829122946'
977,b'110',b'110',35362,b'20011014110248',1025,b'20040304105521'
978,b'110',b'110',35362,b'20011014110248',1690423,b'20140430193211'
979,b'110',b'110',35362,b'20011014110248',1665932,b'20140311141856'
980,b'110-\xd1\x82\xd1\x96',b'110s',34832,b'20010917174745',5242,b'20040518182029'
981,b'110-\xd1\x82\xd1\x96',b'110s',34832,b'20010917174745',13648,b'20041121150610'
982,b'1100',b'1100',36300,b'20020111233334',3968,b'20040429072713'
983,b'1100',b'1100',36300,b'20020111233334',1624026,b'20131124085421'
984,b'1100',b'1100',36300,b'20020111233334',1002298,b'20110612173707'
985,b'1101',b'1101',36301,b'20020111233502',4607,b'20040514142248'
986,b'1101',b'1101',36301,b'20020111233502',1624027,b'20131124085431'
987,b'1101',b'1101',36301,b'20020111233502',1657611,b'20140217152414'
988,b'1102',b'1102',42472,b'20020302120157',4608,b'20040514142301'
989,b'1102',b'1102',42472,b'20020302120157',1624028,b'20131124085441'
990,b'1102',b'1102',42472,b'20020302120157',626963,b'20100203140259'
991,b'1103',b'1103',38432,b'20020209095526',4609,b'20040514142312'
992,b'1103',b'1103',38432,b'20020209095526',1624029,b'20131124085451'
993,b'1103',b'1103',38432,b'20020209095526',1657610,b'20140217152401'
994,b'1104',b'1104',42473,b'20020302120332',4610,b'20040514142323'
995,b'1104',b'1104',42473,b'20020302120332',1624031,b'20131124085501'
996,b'1104',b'1104',42473,b'20020302120332',1657609,b'20140217152345'
997,b'1105',b'1105',42474,b'20020302120406',4611,b'20040514142333'
998,b'1105',b'1105',42474,b'20020302120406',1624032,b'20131124085511'
999,b'1105',b'1105',42474,b'20020302120406',1657608,b'20140217152332'

In [83]:
from datetime import datetime
from datetime import timedelta

def get_time(time_str):
    str_time = str( eval(time_str) )
    return datetime.strptime(str_time, '%Y%m%d%H%M%S')

In [85]:
for index, row in df_same_en_uk.iterrows():
    en_time = get_time(row['en_timestamp'])
    
    uk_time = get_time(row['uk_timestamp'])
    
    if en_time - uk_time > timedelta(days=30):
        print(row['en_title'])
        print(en_time)
        print(uk_time)

b'1020s'
2007-09-05 16:38:45
2004-05-18 19:11:33
b'1020s'
2007-09-05 16:38:45
2004-11-21 16:38:46
b'1345'
2007-12-30 04:08:08
2004-05-04 14:01:59
b'1,000,000,000'
2004-11-05 23:24:05
2004-01-30 04:52:04