In [1]:
import pandas as pd

In [2]:
df_en_last_rev = pd.read_csv("df_en_last_rev_1")
df_en_last_rev_2 = pd.read_csv("df_en_last_rev_2")
df_en_last_rev_3 = pd.read_csv("df_en_last_rev_3")
df_en_last_rev = df_en_last_rev.append(df_en_last_rev_2)
df_en_last_rev = df_en_last_rev.append(df_en_last_rev_3)
print(df_en_last_rev.shape)
assert(df_en_last_rev.drop_duplicates().shape == df_en_last_rev.shape)
df_en_last_rev.head(10)
df_en_last_rev_2 = None
df_en_last_rev_3 = None

(45000000, 3)

In [3]:
df_en_page = pd.read_csv("df_en_page")
print(df_en_page.shape)
df_en_page.head(10)

(14019836, 3)

   Unnamed: 0     en_id                         en_title
0           0   5878274                             b'!'
1           1   3632887                            b'!!'
2           2    600744                           b'!!!'
3           3  34443176                b'!!!Fuck_You!!!'
4           4  11011780  b'!!!Fuck_You!!!_And_Then_Some'
5           5  34443184  b'!!!Fuck_You!!!_and_Then_Some'
6           6  39401265             b'!!!_(Chk_Chk_Chk)'
7           7   2556962                   b'!!!_(album)'
8           8  10065458                    b'!!!_(band)'
9           9  55029148          b'!!!_(disambiguation)'

In [4]:
df_en = pd.merge(df_en_last_rev, df_en_page, on="en_id")[["en_id", "en_title", "en_timestamp"]]
print(df_en.shape)
df_en.head(10)

(13874946, 3)

   en_id                            en_title       en_timestamp
0  36624                           b'Embryo'  b'20020126151900'
1  34122  b'Wac\xc5\x82aw_Sierpi\xc5\x84ski'  b'20020126153542'
2  36631                             b'210s'  b'20020126160054'
3  36637                        b'Yorkshire'  b'20020126161143'
4  36636                           b'Medina'  b'20020126161246'
5   2201                        b'Aage_Bohr'  b'20020126163319'
6  11787                    b'Fleetwood_Mac'  b'20020126165413'
7  36653        b'Mobile_magazine_explosion'  b'20020126182205'
8  35654                              b'305'  b'20020126184404'
9  34303      b'Year_in_Review_12th_Century'  b'20020126184602'

In [5]:
df_uk_page = pd.read_csv("df_uk_page")
print(df_uk_page.shape)
df_uk_page.head(10)

(1245071, 3)

   Unnamed: 0    uk_id                                           uk_title
0           0   829961                                               b'!'
1           1  2062457                                              b'!!'
2           2   425480                                             b'!!!'
3           3  2591631                    b'!!!Fuck_You!!!_and_Then_Some'
4           4  2141483  b'!!_(\xd0\xb7\xd0\xbd\xd0\xb0\xd1\x87\xd0\xb5...
5           5  1767358                                    b'!Action_Pact'
6           6   848226                                   b'!Action_Pact!'
7           7  1767359                                       b'!T.O.O.H.'
8           8   425157                                      b'!T.O.O.H.!'
9           9  2112530  b'!_(\xd0\xb0\xd0\xbb\xd1\x8c\xd0\xb1\xd0\xbe\...

In [6]:
df_uk_last_rev = pd.read_csv("df_uk_last_rev")
print(df_uk_last_rev.shape)
df_uk_last_rev.head(10)

(2424805, 3)

   Unnamed: 0  uk_id       uk_timestamp
0           0      3  b'20031227004500'
1           1     13  b'20040126110432'
2           2    584  b'20040130024256'
3           3    586  b'20040130051203'
4           4    587  b'20040130051740'
5           5    591  b'20040130090751'
6           6    590  b'20040130064918'
7           7    592  b'20040130094955'
8           8  50870  b'20040130104005'
9           9    588  b'20040130061337'

In [7]:
df_uk = pd.merge(df_uk_last_rev, df_uk_page, on="uk_id")[["uk_id", "uk_title", "uk_timestamp"]]
print(df_uk.shape)
df_uk.head(10)

(1245565, 3)

   uk_id                                           uk_title       uk_timestamp
0      3  b'\xd0\x93\xd0\xbe\xd0\xbb\xd0\xbe\xd0\xb2\xd0...  b'20031227004500'
1     13  b'\xd0\x93\xd0\xb5\xd0\xbe\xd0\xb3\xd1\x80\xd0...  b'20040126110432'
2    584                b'\xd0\x90\xd1\x82\xd0\xbe\xd0\xbc'  b'20040130024256'
3    586                b'\xd0\xaf\xd0\xb4\xd1\x80\xd0\xbe'  b'20040130051203'
4    587  b'\xd0\x9c\xd1\x96\xd0\xbb\xd1\x8c\xd0\xb9\xd0...  b'20040130051740'
5    591                b'\xd0\x9c\xd0\xb5\xd1\x82\xd1\x80'  b'20040130090751'
6    590  b'\xd0\x94\xd1\x96\xd0\xb0\xd0\xbc\xd0\xb5\xd1...  b'20040130064918'
7    592  b'\xd0\x91\xd1\x96\xd0\xbe\xd0\xbb\xd0\xbe\xd0...  b'20040130094955'
8  50870        b'\xd0\x97\xd0\xb5\xd0\xbc\xd0\xbb\xd1\x8f'  b'20040130104005'
9    588        b'\xd0\xa5\xd1\x96\xd0\xbc\xd1\x96\xd1\x8f'  b'20040130061337'

In [8]:
df_uk_lang_links = pd.read_csv("df_uk_lang_links")
print(df_uk_lang_links.shape)
df_uk_lang_links.head(10)

(584277, 3)

   Unnamed: 0   uk_id en_title
0           0       3      b''
1           1   93215      b''
2           2  109484      b''
3           3  122051      b''
4           4  130506      b''
5           5  609236      b''
6           6  621969      b''
7           7  772924      b''
8           8  907757      b''
9           9  942309      b''

In [9]:
df_translated_uk = pd.merge(df_uk_lang_links, df_uk, on="uk_id")
print(df_translated_uk.shape)
df_translated_uk.head(10)

(458668, 5)

,Unnamed: 0,uk_id,en_title,uk_title,uk_timestamp
0,0,3,b'',b'\xd0\x93\xd0\xbe\xd0\xbb\xd0\xbe\xd0\xb2\xd0...,b'20031227004500'
1,23,2112530,b'! (The Dismemberment Plan album)',b'!_(\xd0\xb0\xd0\xbb\xd1\x8c\xd0\xb1\xd0\xbe\...,b'20160129231132'
2,24,1366003,b'! (disambiguation)',b'!_(\xd0\xb7\xd0\xbd\xd0\xb0\xd1\x87\xd0\xb5\...,b'20120908092052'
3,25,2141483,b'!!',b'!!_(\xd0\xb7\xd0\xbd\xd0\xb0\xd1\x87\xd0\xb5...,b'20160311161849'
4,26,425480,b'!!!',b'!!!',b'20090328075713'
5,27,848226,b'!Action Pact!',b'!Action_Pact!',b'20101105232233'
6,28,425157,b'!T.O.O.H.!',b'!T.O.O.H.!',b'20090327045916'
7,29,392175,"b'""Hello, World!"" program'",b'Hello_world!',b'20081221093703'
8,30,976198,"b'""Heroes"" (David Bowie album)'",b'Heroes_(\xd0\xb0\xd0\xbb\xd1\x8c\xd0\xb1\xd0...,b'20110502185919'
9,31,528042,"b'""Heroes"" (David Bowie song)'",b'Heroes_(\xd0\xbf\xd1\x96\xd1\x81\xd0\xbd\xd1...,b'20090927082110'

In [30]:
df = pd.merge(df_translated_uk, df_en, on="en_title")[["uk_id", "uk_title", "uk_timestamp", 
                                                       "en_id", "en_title", "en_timestamp"]]
print(df.shape)

df.head(10)

(132803, 6)

,uk_id,uk_title,uk_timestamp,en_id,en_title,en_timestamp
0,2141483,b'!!_(\xd0\xb7\xd0\xbd\xd0\xb0\xd1\x87\xd0\xb5...,b'20160311161849',3632887,b'!!',b'20060106033709'
1,425480,b'!!!',b'20090328075713',600744,b'!!!',b'20040416190058'
2,425157,b'!T.O.O.H.!',b'20090327045916',6810768,b'!T.O.O.H.!',b'20060902132925'
3,2014472,"b""'39""",b'20150908112713',3141321,"b""'39""",b'20051112110701'
4,2636510,b'\xd0\x90\xd0\xbb\xd1\x96-\xd0\xa1\xd1\x83\xd...,b'20180126085530',19800255,"b""'Ali-Sultan""",b'20081016082443'
5,1286660,b'\xd0\x90\xd0\xbc\xd1\x80\xd0\xb0\xd0\xbd_(\x...,b'20120401220741',23929009,"b""'Amran""",b'20090810121011'
6,771109,b'\xd0\x9c\xd0\xb0\xd1\x85\xd0\xbe\xd0\xbb\xd0...,b'20100717132626',25859040,"b""'Makholane""",b'20100119022530'
7,771111,b'\xd0\x9c\xd0\xb0\xd0\xbb\xd0\xb0\xd0\xba\xd0...,b'20100717132713',25859066,"b""'Malakeng""",b'20100119022706'
8,771115,b'\xd0\x9c\xd0\xb0\xd0\xbc\xd0\xb0\xd0\xbd\xd1...,b'20100717132905',25859092,"b""'Mamant\xc5\xa1o""",b'20100119022844'
9,770508,b'\xd0\x9c\xd0\xbe\xd1\x82\xd0\xb5\xd0\xbd\xd0...,b'20100715190428',25800613,"b""'Moteng""",b'20100114035931'

In [26]:
from datetime import datetime
from datetime import timedelta

def get_time(time_str):
    str_time = str( eval(eval(time_str)) )
    return datetime.strptime(str_time, '%Y%m%d%H%M%S')

In [36]:
df_clean = pd.DataFrame(columns=["uk_id", "uk_title", "uk_timestamp", 
                                "en_id", "en_title", "en_timestamp"])
for index, row in df.iterrows():
    en_time = get_time(row['en_timestamp'])
    
    uk_time = get_time(row['uk_timestamp'])
    
    if en_time - uk_time > timedelta(days=30):
        df_clean = df_clean.append(row)
        #print(row['en_title'])
        #print(en_time)
        #print(uk_time)

print(df_clean.shape)
df_clean.head(200)

(5576, 6)

,uk_id,uk_title,uk_timestamp,en_id,en_title,en_timestamp
355,585,b'\xd0\x9c\xd1\x96\xd0\xbb\xd1\x8c\xd1\x8f\xd1...,b'20040130045204',1136363,"b'1,000,000,000'",b'20041105232405'
393,5337,b'1020-\xd1\x82\xd1\x96',b'20040518191133',13110548,b'1020s',b'20070905163845'
791,4125,b'1345',b'20040504140159',14944095,b'1345',b'20071230040808'
1815,1803817,b'P/2012_F5_(Gibbs)',b'20141031154032',52540262,b'331P/Gibbs',b'20161210045021'
2085,1669764,b'5.10_(\xd0\xbf\xd0\xbe\xd0\xbb\xd1\x96\xd1\x...,b'20140321114614',43780533,b'5.10',b'20140909133511'
2362,2421819,b'71-931_\xc2\xab\xd0\x92\xd0\xb8\xd1\x82\xd1\...,b'20170507185713',54508647,b'71-931',b'20170709210314'
2731,237586,b'\xd0\x90-\xd0\xb1\xd0\xb0-\xd0\xb1\xd0\xb0-\...,b'20071221092417',56580262,b'A-ba-ba-ha-la-ma-ha',b'20180213204533'
2735,771405,b'\xd0\x90-\xd0\xb3\xd1\x83\xd0\xbc',b'20100718111535',28899268,b'A-un',b'20100921064155'
2751,1540072,b'A4Tech',b'20130507131803',46636491,b'A4Tech',b'20150507150756'
2881,496300,b'\xd0\x91\xd0\x9a\xd0\x9c_321',b'20090711114348',45329798,b'ACSM-321',b'20150207125827'
2944,835763,b'ADATA',b'20101021142029',36954428,b'ADATA',b'20120908125153'
3022,771892,b'AIMP',b'20100719171524',33201222,b'AIMP',b'20110925021121'
3059,2524198,b'AKR7A3',b'20170915160214',57114429,b'AKR7A3',b'20180413021421'
3107,276272,b'\xd0\x90\xd0\xb2\xd1\x82\xd0\xbe\xd0\xbc\xd0...,b'20080328180411',29687894,b'ALSN',b'20101121134631'
3262,83492,b'\xd0\x90\xd0\xbf\xd1\x82',b'20070111091434',31589215,b'APT',b'20090510155525'
3395,1065478,b'\xd0\x90\xd0\xa1\xd0\x9a\xd0\x9e\xd0\x9d',b'20110826063408',46242633,b'ASCON',b'20150327145509'
3431,494482,b'\xd0\x90\xd0\xa2\xd0\x91-\xd0\x9c\xd0\xb0\xd...,b'20090706235221',27116911,b'ATB-Market',b'20100426143945'
3452,121609,b'ATL',b'20070221193018',18276549,b'ATL',b'20080704005732'
3598,180836,b'\xd0\x90\xd0\xb0\xd0\xb2\xd1\x96\xd0\xba',b'20070705211111',20398462,b'Aavik',b'20081125215950'
3615,359455,b'\xd0\x90\xd0\xb1\xd0\xb0\xd0\xb4\xd0\xb7\xd0...,b'20080916073655',38049707,b'Abadzekhskaya',b'20121228162014'
3629,180045,b'\xd0\x90\xd0\xb1\xd0\xb0\xd0\xba\xd0\xb5\xd0...,b'20070705203618',23453220,b'Abakelia',b'20090701091948'
3630,157543,b'\xd0\x90\xd0\xb1\xd0\xb0\xd0\xba\xd1\x83\xd0...,b'20070421142222',18167884,b'Abakumov',b'20080627220336'
3631,180036,b'\xd0\x90\xd0\xb1\xd0\xb0\xd0\xbb\xd0\xba\xd1...,b'20070705203554',31680654,b'Abalkin',b'20110505022818'
3638,664447,b'\xd0\x90\xd0\xbd\xd1\x83\xd0\xb2\xd1\x96\xd0...,b'20100328152007',33141102,b'Abanoub',b'20110919164409'
3658,59563,b'\xd0\x90\xd0\xb1\xd0\xb0\xd1\x81\xd1\x82\xd1...,b'20061019064951',23467225,b'Abastumani',b'20090702143940'
3661,363102,b'\xd0\x90\xd0\xb1\xd0\xb0\xd1\x82\xd1\x83\xd1...,b'20080928061404',43676109,b'Abaturov',b'20140827221304'
3664,570308,b'\xd0\x90\xd0\xb1\xd0\xb0\xd0\xb2\xd0\xb0',b'20091109180114',25537100,b'Abava',b'20091223160329'
3680,19260,b'\xd0\x90\xd0\xb1\xd0\xb1\xd0\xb0\xd1\x81\xd0...,b'20050206115438',18985765,b'Abbasid',b'20080822203002'
3714,180070,b'\xd0\x90\xd0\xb1\xd0\xb4\xd0\xb5\xd1\x80\xd0...,b'20070705203722',13753530,b'Abderhalden',b'20071016101542'
3727,180029,b'\xd0\x90\xd0\xb1\xd0\xb4\xd1\x83\xd0\xbb\xd0...,b'20070705203534',37124007,b'Abdullin',b'20120926093455'
...,...,...,...,...,...,...
6234,386394,b'\xd0\x90\xd0\xbb\xd0\xb6\xd0\xb5\xd0\xb7\xd1...,b'20081204120725',29340136,b'Aljezur',b'20101025021118'
6243,29292,b'\xd0\x90\xd0\xbb\xd0\xba\xd0\xb0\xd0\xbd\xd0...,b'20050926120626',9211515,b'Alkanna',b'20070130201843'
6252,24554,b'\xd0\x90\xd0\xbb\xd0\xba\xd1\x96\xd0\xb4\xd0...,b'20050428185417',3289665,b'Alkyd',b'20051201051538'
6261,297374,b'AllMovie',b'20080520164049',31710756,b'AllMovie',b'20110508022127'
6291,1758061,b'Allbiz',b'20110903092421',42669128,b'Allbiz',b'20140505105304'
6392,15130,b'\xd0\x90\xd0\xbb\xd0\xbe\xd0\xbd\xd0\xb6_(\x...,b'20050108222224',2885567,b'Allonge',b'20051011202859'
6416,122485,b'\xd0\x90\xd0\xbb\xd1\x8e\xd0\xbe\xd0\xb4\xd0...,b'20070225093839',24164225,b'Alluaudite',b'20090830124839'
6457,26131,b'\xd0\x90\xd0\xbb\xd0\xbc\xd0\xb0\xd0\xb7\xd0...,b'20050617145623',6863578,b'Almazna',b'20060906034802'
6497,361613,b'\xd0\x90\xd0\xbb\xd0\xbc\xd1\x83\xd1\x81\xd1...,b'20080923082111',33073900,b'Almoster',b'20110913150500'
6501,748261,b'\xd0\x9c\xd1\x8e\xd1\x96\xd0\xb4',b'20100613132534',29031119,b'Almud',b'20101002222900'
6513,679981,b'\xd0\x90\xd0\xbb\xd0\xbd\xd0\xb0\xd1\x88\xd1...,b'20100418105838',55017186,b'Alnashi',b'20170824200244'
6534,1615174,b'Alosinae',b'20131030195643',45288446,b'Alosinae',b'20150203024604'
6541,2244503,b'\xd0\x90\xd0\xbb\xd1\x8c\xd0\xbf\xd0\xb0\xd0...,b'20160823082754',54310386,b'Alpago',b'20170615170428'
6543,82561,b'\xd0\x90\xd0\xbb\xd0\xbf\xd0\xb0\xd0\xbc\xd0...,b'20070107175259',10328651,b'Alpamysh',b'20070328185229'
6562,1492109,b'\xd0\x90\xd0\xbb\xd1\x8c\xd1\x84\xd0\xb0-L-\...,b'20130127232135',39078758,b'Alpha-L-rhamnosidase',b'20130411062420'
6643,2183174,b'\xd0\x90\xd0\xbb\xd1\x8c\xd1\x82\xd0\xb0\xd0...,b'20160514092529',54490394,b'Altavalle',b'20170707172140'
6761,1928750,b'\xd0\x90\xd0\xbb\xd1\x82\xd0\xb8\xd0\xba\xd0...,b'20150429065140',51748502,b'Altykarasu',b'20160926015712'
6762,56442,b'\xd0\x90\xd0\xbb\xd1\x82\xd0\xb8\xd0\xbd',b'20060922032436',10678473,b'Altyn',b'20070415105108'
6764,1928953,b'\xd0\x90\xd0\xbb\xd1\x82\xd0\xb8\xd0\xbd\xd0...,b'20150429110313',51748844,b'Altyndy',b'20160926020418'
6806,113178,b'\xd0\x90\xd0\xbb\xd1\x8c\xd0\xbe\xd1\x85\xd1...,b'20070218125645',48172438,b'Alyokhin',b'20151011194528'
6808,658181,b'\xd0\x90\xd0\xbb\xd1\x8c\xd0\xbe\xd1\x88\xd0...,b'20100320224613',42554436,b'Alyosha',b'20140422133838'
6809,197480,b'\xd0\x90\xd0\xbb\xd0\xb8\xd1\x88',b'20070814075214',24085410,b'Alysh',b'20090823140235'
6810,702010,b'Alysiinae',b'20100503083956',54294822,b'Alysiinae',b'20170613180930'
6852,826214,b'\xd0\x90\xd0\xbc\xd0\xb5\xd0\xbb\xd1\x96\xd0...,b'20101008182200',36119514,b'Amali\xc3\xabnstein',b'20120612193007'
6978,2243393,b'\xd0\x90\xd0\xbc\xd0\xb1\xd0\xbb\xd0\xb0\xd1...,b'20160821113429',54735554,b'Amblar-Don',b'20170802220753'
7028,1043501,b'\xd0\x90\xd0\xbc\xd0\xb1\xd1\x83\xd1\x80\xd0...,b'20110719123044',38423336,b'Amburbium',b'20130204221548'
7040,83120,b'\xd0\x90\xd0\xbc\xd0\xb5\xd0\xb1\xd0\xbe\xd1...,b'20070109185057',19434551,b'Amebocyte',b'20080923045320'
7079,1064732,b'\xd0\x90\xd0\xbc\xd0\xb5\xd1\x80\xd0\xb8\xd0...,b'20110824144418',38587261,b'Amerikana',b'20130220214737'
7086,122520,b'\xd0\x90\xd0\xbc\xd0\xb5\xd0\xb7\xd0\xb8\xd1...,b'20070225095759',28880399,b'Amesite',b'20100919155948'
7107,83144,b'\xd0\x90\xd0\xbc\xd1\x96\xd0\xb4\xd0\xb0\xd0...,b'20070109193441',14501996,b'Amidase',b'20071130203822'

(5576, 6)